@import "./_variables.scss";
@import "./_icons.scss";

@mixin todoListItem($icon: getIcon(box), $color: #af544f) {
    box-shadow: 0 -1px 0 0 white, 0 -2px 0 0 #e6e6e6;
    height: 80px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    padding: 0 33px 0 78px;
    line-height: 80px;
    text-transform: uppercase;
    color: $color;
    letter-spacing: 2px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 28px 16px;
    background-image: $icon;
}

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;

    &__item--completed {
        @include todoListItem(getIcon(done), #16a085);
    }

    &__item--active {
        @include todoListItem;
    }
}

@media only screen and (min-width : $min-width) {
    @mixin todoListItem {
        box-shadow: 0 1px 0 0 #e6e6e6, 0 2px 0 0 white;
    }

    .todo-list {
        order: -1;
        flex-direction: column;

      &__item--completed {
        @include todoListItem;
      }

      &__item--active {
        @include todoListItem;
      }
    }
}