@import "./_icons.scss";
@import "./_add-todo.scss";
@import "./_todo-list.scss";
@import "./_todo-transition.scss";
@import "./_filter.scss";
@import "./variables.scss";

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body {
  background: #bdc3c7;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  min-height: 100vh;
  max-width: 730px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #ecf0f1;
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
  max-width: calc(100% - 20px);
}

@media only screen and (min-width : $min-width) {
  .container {
    justify-content: flex-end;
    max-width: 720px;
  }
  .app {
    border-radius: 4px 4px 0 0;
  }
}
